#hintergrundbild {
  /*background-color: #313236;*/
  background: rgba(0, 0, 0, .6) url("image/gesamter_Chor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-blend-mode: darken;
}
.title{
  color: #aaaaaa;
}
.subtitle{
  color: #aaaaaa;
}

.text-neben-icons {
  font-size: 1.2rem;
  padding-left: 20px;
}


/*.navbar {*/
/*  background-color: #313236;*/
/*  border-radius: 2px;*/
/*  max-width: 800px;*/
/*}*/

/*.navbar a {*/
/*  color: #aaa;*/
/*  display: inline-block;*/
/*  font-size: 15px;*/
/*  padding: 10px;*/
/*  text-decoration: none;*/
/*}*/

/*.navbar a:hover {*/
/*  color: #ffffff;*/
/*}*/


